{{define "content"}}
{{if .SuccessMsg}}
<div class="success-message">{{.SuccessMsg}}</div>
{{end}}
<div class="header">
    <h1>{{.ProjectName}}</h1>
    <div class="header-info">
        <div class="user-info">
            <strong>{{.AccessName}}</strong> 👋
        </div>
        <a href="/{{.ProjectSlug}}/logout">
            <button class="logout-button">Logout</button>
        </a>
    </div>
</div>

<div class="main-content">
    <div class="welcome-card">
        <h2>{{.ProjectName}}</h2>
        <p>Below you can see project balances and history.
        </p>

        {{if not .ReadOnly}}

        <a href="/{{.ProjectSlug}}/transactions/create">
            <button class="create-transaction-button">Create Transaction</button>
        </a>
        {{end}}

        <div class="project-details">
            <h3>Balances</h3>
            {{if .AccountBalances}}
            {{range .AccountBalances}}
            <div class="detail-row">
                <span class="detail-label">{{.Name}}:</span>
                <span
                    class="detail-value {{if .IsPositive}}positive-balance{{else}}negative-balance{{end}}">{{.Balance}}</span>
            </div>
            {{end}}
            {{else}}
            <div class="detail-row">
                <span class="detail-label">No accounts found</span>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}